#!/bin/bash

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

function is_vscode_extension_installed() {
  local extension="$1"

  code --list-extensions 2>/dev/null | grep -q "${extension}"
}

wanted_extensions=(
  # aaron-bond.better-comments
  alefragnani.Bookmarks
  # almenon.arepl
  amazonwebservices.aws-toolkit-vscode
  # christian-kohler.path-intellisense
  # formulahendry.code-runner
  # frhtylcn.pythonsnippets
  # Gruntfuggly.todo-tree
  # johnpapa.vscode-cloak
  # KevinRose.vsc-python-indent
  # littlefoxteam.vscode-python-test-adapter
  # njpwerner.autodocstring
  # pnp.polacode
  # ritwickdey.LiveServer
  # stkb.rewrap
  # thundra.thundra-debugger
  # usernamehw.errorlens
  # yzhang.markdown-all-in-one
  boto3typed.boto3-ide
  eamodio.gitlens
  EditorConfig.EditorConfig
  esbenp.prettier-vscode
  foxundermoon.shell-format
  johnpapa.vscode-peacock
  mads-hartmann.bash-ide-vscode
  mechatroner.rainbow-csv
  mhutchie.git-graph
  mikestead.dotenv
  mpontus.tab-cycle
  ms-azuretools.vscode-docker
  ms-python.python
  ms-python.vscode-pylance
  ms-vscode-remote.vscode-remote-extensionpack
  natqe.reload
  oderwat.indent-rainbow
  redhat.vscode-yaml
  richie5um2.vscode-sort-json
  sleistner.vscode-fileutils
  streetsidesoftware.code-spell-checker
  timonwong.shellcheck
  Tyriar.sort-lines
  vscode-icons-team.vscode-icons
)

for extension in "${wanted_extensions[@]}"; do
  if ! is_vscode_extension_installed "${extension}"; then
    log_task "Installing VS Code extension: ${extension}"
    c code --install-extension "${extension}"
  fi
done
