#!/bin/bash

# {{ include (joinPath .chezmoi.sourceDir ".chezmoitemplates/scripts-library") }}

# The following line is for ShellCheck to correctly identify the above included library
true || source ../.chezmoitemplates/scripts-library

bash_it="${HOME}"/.bash-it
if [[ -d "${bash_it}" ]]; then
    sudo rm -rf "${bash_it}"
fi

git clone --depth=1 https://github.com/Bash-it/bash-it ~/.bash-it
cd ~/.bash-it
./install.sh --append-to-config

#bash-it update stable

sed 's/BASH_IT_THEME=[^;]*/BASH_IT_THEME=powerline-multiline/' -i ~/.bashrc

# # install fonts
# declare -a fonts=(
#     BitstreamVeraSansMono
#     CodeNewRoman
#     DroidSansMono
#     FiraCode
#     FiraMono
#     Go-Mono
#     Hack
#     Hermit
#     JetBrainsMono
#     Meslo
#     Noto
#     Overpass
#     ProggyClean
#     RobotoMono
#     SourceCodePro
#     SpaceMono
#     Ubuntu
#     UbuntuMono
# )

# version='2.1.0'
# fonts_dir="${HOME}/.local/share/fonts"

# if [[ ! -d "${fonts_dir}" ]]; then
#     mkdir -p "${fonts_dir}"
# fi

# for font in "${fonts[@]}"; do
#     zip_file="${font}.zip"
#     download_url="https://github.com/ryanoasis/nerd-fonts/releases/download/v${version}/${zip_file}"
#     echo "Downloading ${download_url}"
#     wget "${download_url}"
#     unzip "${zip_file}" -d "${fonts_dir}"
#     rm "${zip_file}"
# done

# find "${fonts_dir}" -name '*Windows Compatible*' -delete

# fc-cache -fv
